.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.body1 {
    margin-top: 4%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
}

.search {
    margin-left: 0;
    display: flex;
    align-items: center;
    width: 700px;
    border: 1px solid;
    border-color: rgb(201, 198, 198);
    border-radius: 5px;
}

.search__icon {
    margin-left: 20px;
}

.body_input {
    width: 100%;
    min-height: 2rem;
    border: none;
}

.btn_sort {
    background-color: rgb(236, 231, 231);
    width: 70px;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    background-color: rgb(236, 231, 231);
    border: none;
}

.mill {
    width: 780px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.body2 {
    padding-bottom: 10px;
    border-bottom: 1px solid;
}
.mill1 {
    width: 780px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.mil {
    margin-left: 10px;
}

.body__text {
    margin-top: 3rem;
    padding:1rem 0;
    border: 1px solid;
    border-color: gray;
    border-radius: 10px;
}

.check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.trig {
    margin-left: 10%;
}

.hidden__text {
    display: flex;
    justify-content: space-between;
    /* padding-top: 10px;
    border-top: 1px solid;
    border-color: gray; */
    height: 4rem;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.ht {
  margin: 0 10px;
  font-size: large;
  font-weight: bold;
}

.hd_t {
  padding-top: 10px;
  border-top: 1px solid;
  border-color: gray;
}



.penEdit {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 900px) {
  .body {
    overflow: hidden;
    margin-left: 10%;
  }
  .body__text {
    width: 80%;
  }
  .mill {
    width: 100%;
  }
  .mill1 {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .body {
    overflow: hidden;
    margin-left: 14%;
    width: 70%;
  }
  .body__text {
    width: 80%;
  }
  .mill {
    width: 100%;
  }
  .mill1 {
    width: 100%;
  }
}
@media only screen and (max-width: 474px) {
  .body {
    overflow: hidden;
    margin-left: 20%;
  }
  .body__text {
    width: 80%;
  }
}
@media only screen and (max-width: 348px) {
  .body {
    overflow: hidden;
    margin-left: 30%;
  }
}